input{
    display: block;
    padding: 1em;
    margin-bottom:10px;
    color:rgb(7, 1, 1);
    background-color: white;
    border-radius: 10px;
}

form{
    color:white;
    display: block;
    padding: 1em;
    margin-bottom:10px;
}
.button{
    background-color: black;
    color:#ccc;
}